$facebook: #3b5998;
$twitter: #00acee;
$whatsapp: #00bb2d;
$instagram: #dd2a7b;
$white: #ffffff;
$black: #6b7882;
$river_bed: #566b7d;
$mercury: #e8e8e8;
$blue: #3490dc;
$success: #2eca6a;
$danger: #dc3545;